.btn {
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  padding: 18px 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 3px;
  @media (max-width: map-get($grid-breakpoints, "lg")) {
    width: 140px;
    padding: 18px;
    font-size: 12px;
    line-height: 12px;
  }
  @media (max-width: map-get($grid-breakpoints, "sm")) {
    padding: 12px;
    width: 124px;
  }
  &:hover {
    color: #ffffff;
    opacity: 0.9;
    border: 1px solid transparent;
    background-color: $primary;
  }
  &-outline {
    border: 1px solid #4d4f54;
  }
}