.features {
  position: relative;
  background-color: #fff;
  display: flex;
  z-index: 10;
  border-bottom: 1px solid #ededed;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    @include section_subtitle();
    padding-top: 60px;
  }
  &__title {
    @include section_title();
  }
  &__separator {
    @include title_separator();
  }
  &__items {
    padding: 43px 0 70px;
  }
  &__item {
    padding-top: 30px;
    text-align: center;
    &-logo {
      @include width_height(90px, 90px);
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      & img {
        @include width_height(45px, 45px);
      }
    }
    &-title {
      padding-top: 30px;
      @include font_size-lh-fw(24px, 24px, 400);
      color: $headings-color;
    }
    &-description {
      @include plain_text();
      padding-top: 15px;
    }
  }
}