.home {
  display: flex;
  position: relative;
  background-color: $section-bg-dark;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
  }
  &__banner {
    z-index: 10;
    padding: 150px 0 110px;
    @media (max-width: map-get($grid-breakpoints, "xl")) {
      padding: 120px 0 50px;
    }
    @media (max-width: map-get($grid-breakpoints, "md")) {
      padding: 90px 0 50px;
    }
    display: flex;
    &-text {
      padding-right: 100px;
      @media (max-width: map-get($grid-breakpoints, "lg")) {
        padding-right: 40px;
      }
      @media (max-width: map-get($grid-breakpoints, "md")) {
        padding-right: 15px;
      }
    }
    &-tagline {
      @include section_subtitle();
    }
    &-title {
      padding-top: 20px;
      @include font_size-lh-fw(48px, 48px, 600);
      margin-bottom: 0;
      @media (max-width: map-get($grid-breakpoints, "lg")) {
        @include font_size-lh-fw(32px, 32px, 600);
      }
    }
    &-description {
      @include plain_text();
    }
    &-buttons {
      padding-top: 45px;
      @media (max-width: map-get($grid-breakpoints, "lg")) {
        padding-top: 15px;
      }
      & button+button {
        margin-left: 18px;
      }
    }
    &-photo {
      position: relative;
      display: flex;
      justify-content: center;
      img {
        @include width_height(480px, 600px);
        position: absolute;
        top: -50px;
        z-index: 5;
        right: 0;
        @media (max-width: map-get($grid-breakpoints, "lg")) {
          @include width_height(360px, 480px);
        }
        @media (max-width: map-get($grid-breakpoints, "md")) {
          @include width_height(240px, 320px);
          top: -25px;
          right: 20px;
        }
        @media (max-width: map-get($grid-breakpoints, "sm")) {
          display: none;
        }
      }
    }
  }
  &-bg-placeholder {
    position: absolute;
    @include width_height(100%, 930px);
    background-image: url("../images/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: 0;
    @media (min-width: map-get($grid-breakpoints, "xl")) {
      height: 100%;
    }
  }
  .navbar {
    height: 96px;
    &.scrolled {
      background-color: $dark;
    }
    .navbar-nav {
      .nav-link {
        padding: 10px 0 10px 20px;
        font-weight: 600;
        letter-spacing: 0.028em;
        color: #ffffff;
        span {
          position: relative;
          &::before, &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            @include width_height(calc(50% - 1px), 2px);
            background-color: #008ed6;
            opacity: 0;
          }
          &::before {
            left: 0;
          }
          &::after {
            right: 0;
          }
          &:hover::before, &:hover::after {
            opacity: 1;
          }
        }
      }
    }
    &-brand {
      display: flex;
      font-family: $brand-font;
      @include font_size-lh-fw(24px, 58px, 700);
      text-transform: uppercase;
      align-items: center;
      letter-spacing: 0.035em;
      &-subtitle {
        @include font_size-lh-fw(9px, 10px, 400);
        letter-spacing: 1px;
        color: #505055;
        padding-left: 6px;
      }
    }
    &-collapse {
      //z-index: 20;
      //padding-right: 10px;
      padding-bottom: 5px;
      @media (max-width: 991px){
        background-color: $dark;
        border: 1px solid #ffffff;
      }
    }
  }
}

